<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <article class="blog-post">
        <img src="/media/welcome.jpg" alt="Imagen del blog">
        <div class="blog-content">
            <h2>Primer Post</h2>
            <p class="blog-date">Fecha: 27 de Enero, 2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis augue nec mauris...</p>
            <a href="#" class="read-more-btn">Leer Más</a>
        </div>
    </article>
</body>
</html>
