<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanced - Luciana</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <article class="blog-post">
        <img src="/media/happy.jpg" alt="Imagen del blog">
        <div class="blog-content">
            <h2>Happy <span id="color-text">Birthday</span></h2>
            <p class="blog-date">Fecha: 14 de Enero, 2024</p>
            <p class="text-p">¡Hola Luciana! Estamos llenos de emoción porque se acerca tu día especial. Hemos preparado algo especial para ti y no podemos esperar a que lo descubras. Visita nuestra página el 14 de enero para disfrutar de las sorpresas que hemos preparado. ¡La cuenta regresiva ha comenzado! 🎉</p>
            <a class="btnfos btnfos-1" href="happy">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                Continuar
            </a>
        </div>
    </article>
    <button id="theme-toggle-btn"></button>
    <!-- <script src="/js/script.js"></script> -->
</body>
</html>
