<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Alexito Entertainment</title>
    
    <link rel="stylesheet" href="/css/support.css">
</head>
<body>
    <div class="welcome-container">
        <div class="logo-container">
            <img class="logo" src="/media/logo.jpg" alt="logo">
        </div>
        <div class="text-container">
            <h1>Alexito Entertainment</h1>
        </div>
        <div class="support-message">
            <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte. Estamos aquí para ayudarte.</p>
        </div>  
        <div class="copyright">
            <button type="submit" onclick="window.location.href = 'https://wa.me/51968265011'">Support</button>
        </div>
    </div>
</body>
</html>