<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanced - Welcome</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h1 class="welcome-title">Bienvenido a <span id="color-text"> Vanced</span></h1>
        <div class="container-button">
            <a href="login" class="button">
                <button>Iniciar Sesion</button>
            </a>
            <a href="inicio" class="button-span">
                <span>Continuar sin iniciar sesion</span>
            </a>
        </div>
        <div class="background-container">
        </div>
    </div>
</body>
</html>
