<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanced - Jamie</title>
    <link rel="stylesheet" href="/css/happy/blog.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header-content-box">
        <div class="secondline">
            Feliz cumpleaños,
            <span class="txt-rotate color" data-period="1200" data-rotate='[ " Jamie!" ]'></span>
            <span class="slash">|</span>
        </div>
    </div>
    <article class="blog-post">
        <img src="/media/happyj.jpg" alt="Imagen del blog">
        <div class="blog-content">
            <h2>Happy <span class="color-text color">Birthday</span></h2>
            <p class="blog-date">Fecha: 11 de Febrero, 2024</p>
            <p class="text-p">¡Feliz cumpleaños, Jamie! Hoy celebras un año más de vida y queremos dedicarte una sorpresa especial. Ya sabes de qué se trata, <span id="contador"></span> Te pedimos que esperes hasta ese momento para darle clic al botón y descubrir la sorpresa preparada para ti. Mientras tanto, <a class="texting-comments" href="jamie/comments">te invitamos a leer los mensajes que te dedicaron.</a> ¡Disfruta de este día tan especial y que todos tus deseos se hagan realidad!</p>
            <a class="btnfos btnfos-1" href="#">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                </svg>
                Continuar
            </a>
        </div>
    </article>
    <div class="text-comments-blog">
        <a href="jamie/comments">Comentarios</a>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
