<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lu" />
    <meta name="keywords" content="Feliz cumpleaños" />
    <meta name="author" content="Zioo" />
    <meta property="og:title" content="Feliz Cumpleaños">
    <meta property="og:description" content="Dedicado">
    <meta property="og:image" content="https://telegra.ph/file/e86bee06a46ec81103ce6.png">
    <title>Welcome Luciana</title>
    <link rel="icon" href="https://telegra.ph/file/e86bee06a46ec81103ce6.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://telegra.ph/file/e86bee06a46ec81103ce6.png" type="image/x-icon">
    <link rel="preload" href="/css/happy/fontstyle.css" as="style">
    <link rel="preload" href="/css/happy/layout.css" as="style">
    <link rel="preload" href="/css/happy/animation.css" as="style">
    <link rel="preload" href="/css/happy/happy.css" as="style">

    <link rel="stylesheet" href="/css/happy/fontstyle.css">
    <link rel="stylesheet" href="/css/happy/layout.css">
    <link rel="stylesheet" href="/css/happy/animation.css">
    <link rel="stylesheet" href="/css/happy/happy.css">
    <style>
        .mini {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            height: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .hidden-audio {
            display: none;
        }
</style>
</head>
<body>
    <span class="fade"></span>
    <main>
        <section class="hero-banner">
            <div class="hero-contained">
                <div class="hero-title fc-white">
                    <h1 class="ff-damion">Welcome Luciana</h1>
                    <p class="fs-h4 fw-normal">
                        En este día tan especial, celebramos otro año de tu extraordinaria travesía por la vida. Queremos expresarte nuestro agradecimiento por la valiosa amistad que nos has regalado. En tu cumpleaños, deseamos que disfrutes de momentos maravillosos y, para hacerlo aún más especial, te compartimos un emotivo mensaje escrito por Jamie. ¡Que este día sea un capítulo inolvidable en tu historia!
                    </p>
                    <a href="#about" class="btn-bg2 border-round mt-20">
                        Ver... <i class="bi bi-chevron-compact-right"></i>
                    </a>
                </div>
            </div>
        </section>
        <section class="contained row" id="about">
            <h2 class="section-title ff-damion">Mensaje de Jamie</h2>
            <div class="col-balance">
                <span class="fc-primary fs-h2">
                    
                </span>
                <p>
                    Bebeee luchiana, enserio desde el primer día en que hablamos fue cuando te pedí que me
                    invitaras tu dulce xd y tu tan buene xd me invitaste desde ahí empezamos a juntarnos y reírnos como cuys,
                    parábamos siempre juntas hasta les decíamos a las demás que eramos hermanas jsjsjjs, extraño cuando podíamos sentarnos juntas y webiar pe xd,
                </p>
                <p>
                    cuando me comprabas mis papas, cuando hacíamos bulla xdddd, hasta que acabo el colegio fue muy duro 😪
                    y triste para mi saber que ibas a ir a otro colegio me puse triste tmr pero yo sabía que nuestra amistad duraría mucho
                    más y no solo iba a hacer una amistad de primaria, así que en pandemia hablábamos poquito xd raras veces, pero en el 2022 ahí si ya empezamos a
                    salir y a agarrar de nuevo la confianza de ante y nuestra risita iiiiiii, eres la mejor amiga o bueno hermana👭, alma gemela que puedo tener,
                    estos últimos años me has apoyado mucho, me hiciste reír como nunca, 
                </p>
                <p>
                    estar en la confi contigo fue lo mejor también, ahí es donde conocimos a la Ale panzona jsjsjsjs se volvió parte de nosotras🤝
                    en el retiro convivir contigo y con el fue hermoso y gracioso que nunca lo olvidare, te amo mi niña hermosa😍❤❤❤
                </p>
                <p>
                    realmente eres la mejor hermana que tengo y que nunca me ah traicionado,
                    gracias por todo enserio por todo lo que me has dado y me has hablado,
                    te deseo mucha suerte y que nuestra amistad junto con la panzona sea pa siempre hasta ya no tener dientes xd te amo muaaa ❤❤❤❤❤❤
                </p>
            </div>
            <div class="col-balance">
                <div class="sticky-img-dual">
                    <img src="/happy-lu/panz1.jpg" alt="">

                    <img src="/happy-lu/panz2.jpg" alt="">
                </div>
            </div>
            <div class="sticky-img-dual-spacer"></div>
        </section>
        <section class="contained">
            <div class="container-audio hidden-audio">
                <audio id="backgroundAudio" controls loop>
                    <source src="https://cdn.discordapp.com/attachments/1076185212645552221/1195146260248789083/AUD-20240111-WA0326.mp3?ex=65b2edb1&is=65a078b1&hm=7964586571f62541be33849393e50e5945958104abcd330bb57dc0c27308499d&" type="audio/mp3">
                    Tu navegador no soporta la etiqueta de audio.
                </audio>
           </div>
            <h2 class="section-title ff-damion">Tus Amigos</h2>
            <p class="col-wide mlmr-a ta-center">
                Te deseamos un Feliz Cumpleaños 🎂
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-team">
                        <img src="/happy-lu/rodrigo.jpg" alt="">
                        <h3 class="title ff-damion">Rodrigo</h3>
                        <div class="info">
                            <h3 class="ff-damion">Para ti Luciana, gran persona😎👍</h3>
                            <p>
                                En este día especial te digo que tú eres una alegría jamás nunca antes vivida
                            </p>
                            <div class="container-audio">
                                <audio controls  loop autoplay muted>
                                    <source src="https://cdn.discordapp.com/attachments/1076185212645552221/1195131945550622841/AUD-20240111-WA0002.opus?ex=65b2e05c&is=65a06b5c&hm=11f4d978b225d8acfd02a9d75c5fab87a0d965de876786a0c69c743bb8a26d0a&" type="audio/ogg">
                                    Your browser dose not Support the audio Tag
                                </audio>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="/happy-lu/alejandra1.jpg" alt="">
                        <h3 class="title ff-damion">Alejandra</h3>
                        <div class="info">
                            <h3 class="ff-damion">Feliz Cumpleaños</h3>
                            <p>
                                Feliz Cumpleaños
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="/happy-lu/nico1.jpg" alt="">
                        <h3 class="title ff-damion">Nicole</h3>
                        <div class="info">
                            <h3 class="ff-damion">Feliz cumple mi vide</h3>
                            <p>
                                Hola Luuu, feliz cumpleaños mi vide, en este día especial espero que lo pases muy bien y feliz junto con tu familia, cada año estamos más cerca para ir a los cariñosos 👉👈 jsjjs. 
                                Espero que cumplas todos tus objetivos y metas. Se le quiere mucho mija. 🥳🥳🥳 uwu
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="/happy-lu/clei1.jpg" alt="">
                        <h3 class="title ff-damion">Clei</h3>
                        <div class="info">
                            <h3 class="ff-damion">Feliz cumpleaños Luciana</h3>
                            <p>
                                HOLA LUCHIANA, desearte un feliz cumpleaños 🎉 que en este día la pases muy bien en compañía de tus seres queridos y amistades.🎉                                       Bueno solo quiero decirte que en el tiempo que pude conocerte te volviste una personita que estará presente en mi memoria con tus pequeñas ocurrencias y con tu carita toda tímida 😄😄, pues como te dije no te alejes de la parroquia y de Dios, ya que nos ayuda en todo momento y aún más cuando estamos en tribulaciones y caídas espirituales. Que nuestra madre María sea nuestra guía para dar siempre nuestro ¡Si! Verdadero y sincero y de esa manera hacer la voluntad de Dios.                              Sin más que pueda decirte, solo sé un ejemplo de vida y que las bendiciones estén siempre contigo y tu familia, reitero mis felicitaciones por este hermoso año más de vida.                                    PSDT: Nos guardas pastel, te esperamos en la parroquia y más en el grupo parroquial 🥹💯🎇 mis mejores deseos en tu vida
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-team">
                        <img src="/happy-lu/ale2.jpg" alt="">
                        <h3 class="title ff-damion">Alessandro</h3>
                        <div class="info">
                            <h3 class="ff-damion">Feli Cumple Luuu</h3>
                            <p>
                                Feliz cumpleaños, ya estas vieja luchiana, te deseo un feliz cumpleaños pasala bien ❤️‍🩹 
                            </p>
                            <img class="mini" src="/happy-lu/ale1.webp" alt="Paris" style="width:150px">
                        </div>
                    </article>
                </div>
            </div>
            <br>
        </section>
        <section class="contained">
            <h2 class="section-title ff-damion">Videos</h2>
            <p class="ta-center col-wide mlmr-a">
                En esta sección hay un par de videos recopilados 
            </p>
            <div class="row flex-just-center">
                <div class="col-tri">
                    <article class="card-blog">
                        <div style="padding:177.8% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/902296072?h=dac824692a&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Recogiendo a la enane</h3>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Es muy pequeña con su uniforme, parece de primaria
                        </p>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <div style="padding:180% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/902593868?h=ffdbdd3f0c&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Jamie y Lu</h3>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Las 2 almas gemelas
                        </p>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <div style="padding:180% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/902596368?h=001a041ca0&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">UwU</h3>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Disfruta de tu dia Luciana
                        </p>
                    </article>
                </div>
                <div class="col-tri">
                    <article class="card-blog">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/902641107?h=cc46c17d69&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                        <div class="info">
                            <h3 class="mt-5 mb-5 ff-damion fc-primary">Feliz Cumpleaños</h3>
                        </div>
                        <p class="ml-10 mt-5 mb-20">
                            Feliz Cumpleaños
                        </p>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer class="fc-white">
        <div class="contained row flex-just-center">
        </div>
        <div class="copy ta-center fc-white">
            <small>&copy; Alexito - Copyright 2023</small>
        </div>
    </footer>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var audio = document.getElementById('backgroundAudio');
            audio.play();
        });
    </script>
</body>
</html>